/* http://bootsnipp.com/snippets/featured/3d-buttons-effects-fix */
.btn3d {
    position:relative;
    border:0;
    border-radius:3px;
    margin:15px 10px 0 0;
    transition:all .09s linear;
    box-shadow:0 0 0 1px transparent inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 6px 6px 0 0 #ccc, 6px 6px 0 1px rgba(0,0,0,0.2), 6px 6px 3px 0px rgba(0,0,0,0.3);
    outline:medium none;
    -moz-outline-style:none;
}
.btn3d:active {
    top:7px;
}
.btn3d:focus {
    outline:medium none;
    -moz-outline-style:none;
}
.btn3d.btn-default {
    background-color:#f5f5f5;
}

/* for social colors */
.btn-facebook {
    background-color:#3b5998;
    color:#fff;
}
.btn-google {
    background-color:#dd4b39;
    color:#fff;
}
.btn-twitter {
    background-color:#2ba9e1;
    color:#fff;
}
.btn-pinterest {
    background-color:#cb2027;
    color:#fff;
}
.btn-tumblr {
    background-color:#2c4762;
    color:#fff;
}
.btn-facebook:hover,.btn-facebook:focus,
.btn-twitter:hover,.btn-twitter:focus,
.btn-google:hover,.btn-google:focus,
.btn-tumblr:hover,.btn-tumblr:focus,
.btn-pinterest:hover,.btn-pinterest:focus{
    color:#ebebeb;
}